/* define the global or root variable*/
:root{
    --primarycolor: #213555;
    --backroundcolor:#F5EFE7;
    --primaryAccentcolor:#4F709C;
    --secondarycolor:#D8C4B6;
    --whitecolor:white;
    --blackcolor:#222222;
    --primaryFont:'open sans',sans-serif;
    --cursiveFont:'pacifico',cursive;

    --navbarheight:3rem;

}

/* main css*/
body{
    background-color: var(--backroundcolor);
    color: va(--primarycolor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

a{
    text-decoration: none;
    color: var(--primarycolor);
}

a:hover{
    color: var(--primaryAccentcolor);
}
.navigation{
    background-color: var(--whitecolor);
    height: var(--navbarheight);
    display:flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 5px 10px grey);
    
}
.logo{
    display: flex;
    height: 2rem;
    padding-left:  20px;
    width: 12rem;
    align-items: center;
}
.logoImage{
    height: 2rem;
    
    padding: 8px;
}
.contactImage{
    height: 2rem;
    padding:8px;
    margin-right: 40px;
}
.menuItems{
    flex-grow:2;
}
.menuItem{
    margin-left: 20px;
}
.menuItem{
    margin-left: 20px;
}
/* banner*/
.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(
        45deg,
        var(--secondarycolor),
        var(--primaryAccentcolor));
        filter: drop-shadow(0px 5px 10px grey);
        justify-content: space-around;
         align-items: center;
         padding: 20px;
         
}
.bannerleft{
    width: 65%;

}

.bannerImage{
    height: 300px;
    border-radius: 100%;
}
.greeting{
    font-family: var(--cursiveFont);
    font-size: 30px;
}
.title{
    font-size: 70px;
    color: white;
}
.titlespan{
    display: inline-block;
    background-color: var(--primarycolor);
    padding: 0.5rem;
    margin: 5px 0px;
}
.description{
    margin: 30px 0px;
    line-height: 2rem;
}
.showCVButton{
background: linear-gradient(
    white,rgb(205,205,205),rgb(215,215,215)
);
padding: 10px 15px;
border-radius: 5px;
filter: drop-shadow(5px 5px 3px grey);

}
.showCVButton:hover{
    background-color: lineargradient(
        white,rgb(215,215,215)
    );
}