/* define the global or root variable*/
:root{
    --primarycolor: #213555;
    --backroundcolor:#F5EFE7;
    --primaryAccentcolor:#4F709C;
    --secondarycolor:#D8C4B6;
    --whitecolor:white;
    --blackcolor:#222222;
    --primaryFont:'open sans',sans-serif;

    --navbarheight:3rem;

}

/* main css*/
body{
    background-color: var(--backroundcolor);
    color: va(--primarycolor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.navigation{
    background-color: var(--whitecolor);
    height: var(--navbarheight);
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    display: flex;
    height: 2rem;
    padding-left:  20px;
    width: 12rem;
    align-items: center;
}
.logoImage{
    height: 2rem;
    
    padding: 8px;
}
.contactImage{
    height: 2rem;
    padding:8px;
}
.menuItems{
    flex-grow:2;
}
.menuItem{
    margin-left: 20px;
}