/* color styling in css*/
body{
    background-color: rgb(162, 143, 186);
}
.heading{
    background-color: #c9622a;
    width: 40%;
    height: 100px;
   /* margin : 100px,300px,30px,50px; TRBL*/
    margin:100px 200px;/*vertical horizontal*/
   /* margin:30px;*/
  /* margin-left: 30px;*/
 /* padding:30px;*/
  padding-left: 30%;
}
.para{
    background-color:rgba(51, 170, 51, 0.3) ;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
/*dimension*/
.box{
    background-color: aqua;
    width: 200px;
    height: 100px;
    padding-top: 5%;
    text-align: center;
    /* font-size:x-large;*/
    font-size: 2em;/*lem=16px*/
    /* font size:2.25rem;*/
    border-radius: 50%;
}
/*.first{
    width:20px;
    height:20px;
}*/

/*display and position*/
img{
    border: 10px solid pink;/*width stle color*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h3{
    display: inline;
}
span{
    width: 80px;
    display: inline-block;
    
}
div{
   /* display: inline-block;*/
    width: 100px;
    height: 100px;
}
*{
    margin: 0px;
}
.bbox1{
    background-color: blue;
    
}
.bbox2{
    background-color: blueviolet;
    margin-block-end: -50px;
    position: relative;

}
.bbox3{
    background-color: cadetblue;
    position:relative;
  /*  bottom: 30px;
    left: 50px;*/
    margin-block-start: 50px;

}